body {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
}

select {
  border-radius: 4px;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

#background {
  position: fixed;
  background-size: cover;
  inset: 0px;
  z-index: -1;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header>div {
  width: 100%;
  margin: 10px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#city-select {
  display: flex;
  justify-content: center;
  align-items: center;
}

#city-select>select {
  width: 100%;
  font-size: 16px;
  padding: 4px;
  cursor: pointer;
  appearance: none;
}

#language-list {
  color: white;
}

#language-list>ul>li {
  text-align: right;
  padding: 4px;
}

#language-list>ul>li>a {
  cursor: pointer;
  transition: color 0.2s;
}

#language-list>ul>li>a.selected {
  color: rgb(167, 235, 255);
}

#forecast-list {
  padding: 4px;
  width: 100%;
}

#welcome {
  padding: 4px;
  width: 100%;
  margin-top: 75px;
}

#welcome>div {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 85%);
  color: white;
  border-radius: 4px;
  margin: 14px;
  padding: 10px;
  padding-left: 25px;
}

#forecast-list>ul {
  padding: 0;
}

#forecast-list>ul>li {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 85%);
  color: white;
  border-radius: 4px;
  margin: 14px;
  padding: 10px;
}

#forecast-list>ul>li>div>.hour-description {
  text-align: left;
  margin: 0;
}

#forecast-list>ul>li>div>.temp {
  text-align: left;
  margin: 0;
  margin-top: 4px;
}